.banner {
    background-size: cover;
    height: 448px;
    color: #fff;
}

.content {
    padding-top: 140px;
    height: 190px;
    padding-left: 15px;
}

.banner__title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}

.button {
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 5px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgb(51, 51, 51, .5);
    cursor: pointer;
    margin-right: 1rem;
}

.button:hover {
    color: black;
    background-color: #e6e6e6;
}

.banner__description {
    padding-right:10px ;
    line-height: 1.7;
    margin-top: 1rem;
    font-size: 18px;
    height: 100px;
    overflow-y: scroll;
    max-width: 38rem;
    min-width: 20rem;
}

.banner__description::-webkit-scrollbar{
    display: none;
}

.fade_bottom {
    height: 7.4rem;
    background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, .61),#111);
}

@media (max-width: 490px) {
    html{
        overflow-x: hidden; /* Hide horizontal scrollbar */
    }

    .banner{
        margin-right: -20px;
    }   

    .banner__description{
        height: 90px;
    }
}